<template name="Home">
  <div class="row expanded">
    <div class="large-12 columns">
      <h3>Risk Heatmap</h3>
    </div>
  </div>

  {{> highchartsHelper chartId="test" chartWidth="95%" charHeight="95%" chartObject=topGenresChart}}

  <table id="datatable" style="margin: 0px auto;" width="400">
      <thead>
          <tr>
              <th>Rank</th>
              <th>Risk</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>Geopolitical</td>
          </tr>
          <tr>
              <td>2</td>
              <td>Tax Compliance</td>
          </tr>
          <tr>
              <td>3</td>
              <td>Indemnity Risk</td>
          </tr>
          <tr>
              <td>4</td>
              <td>Environmental</td>
          </tr>
          <tr>
              <td>5</td>
              <td>Conduct</td>
          </tr>
          <tr>
              <td>6</td>
              <td>Audit Strategy Risk</td>
          </tr>
          <tr>
              <td>7</td>
              <td>Fraud Risk</td>
          </tr>
          <tr>
              <td>8</td>
              <td>Geopolitical</td>
          </tr>
          <tr>
              <td>9</td>
              <td>Telent Loss</td>
          </tr>
          <tr>
              <td>10</td>
              <td>OPEX Spending</td>
          </tr>
          <tr>
              <td>11</td>
              <td>Currency Risk</td>
          </tr>
          <tr>
              <td>12</td>
              <td>Business Continuity</td>
          </tr>
          <tr>
              <td>13</td>
              <td>Litigation Risks</td>
          </tr>
          <tr>
              <td>14</td>
              <td>Competitive Pressure</td>
          </tr>
          <tr>
              <td>15</td>
              <td>Legal Complicance</td>
          </tr>
      </tbody>
  </table>
</template>
