<template name="Home">
  <div class="row expanded">
    <div class="large-12 columns">
      <h3>Risk Heatmap</h3>
    </div>
  </div>

  {{> highchartsHelper chartId="test" chartWidth="95%" charHeight="95%" chartObject=topGenresChart}}

  <table id="datatable">
      <thead>
          <tr>
              <th></th>
              <th>Jane</th>
              <th>John</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th>Apples</th>
              <td>3</td>
              <td>4</td>
          </tr>
          <tr>
              <th>Pears</th>
              <td>2</td>
              <td>0</td>
          </tr>
          <tr>
              <th>Plums</th>
              <td>5</td>
              <td>11</td>
          </tr>
          <tr>
              <th>Bananas</th>
              <td>1</td>
              <td>1</td>
          </tr>
          <tr>
              <th>Oranges</th>
              <td>2</td>
              <td>4</td>
          </tr>
      </tbody>
  </table>
</template>
